@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}
#root{
  display: flex;
  align-items: center;
  height: 100vh;
}
#calc{
    width: 300px;
    min-width: fit-content;
    border-radius: 10px;
    padding: 0;
    font-family: 'Digital';
}
.row {
    margin:0;
}
.btn{
    font-size: 30px;
    color: white;
}
.screen{
  background: linear-gradient(180deg, black, #313131);;
  width: -webkit-fill-available;
  padding: 2px 5px;
  font-size: 20px;
}
.screen p {
  padding: 5px;
  margin:0;
  color:white;
}
#container{
  width: fit-content;
  background: black;
  border-radius: 15px;
  padding: 0;
}
